.contact {
  padding-top: 30px;
  text-align: center;
  background: $background;
  color: $textColor;
  p i {
    margin-right: 15px;
    color: $primary;
  }

  p {
    display: block;
    padding-bottom: 10px;
    margin: 0;
  }
  .email {
    color: $white;
    font-size: 22px;
    letter-spacing: 2px;
  }

  .contact-details {
    margin: 50px 0;
    i {
      color: $primary;
      margin-right: 2rem;
      font-size: 1.5rem;
    }
  }
  i:hover {
    transition: 0.33s ease-in-out;
    color: $textColor;
  }
}
@media (max-width: 768px) {
  .contact {
    .email {
      font-size: 18px;
    }
  }
}
