body {
  background-color: #fff;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  outline: none;
  display: inline-block;
  font-size: 3rem;
  letter-spacing: 5px;
  background: $linearGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  z-index: 5;
  position: relative;
  clip: auto;
  text-transform: uppercase;
}
h2:after {
  content: "";
  border-bottom: 2px solid $white;
  width: 40%;
  margin-top: 5px;
  display: block;
  color: $white;
}
.title {
  width: auto;
  display: inline-block;
  padding: 30px 0;
  position: relative;
}
.title span {
  position: absolute;
  top: -5%;
  left: -65%;
  transform: translateX(25%);
  font-weight: 800;
  opacity: 0.1;
  font-size: 8rem;
  color: $white;
  -webkit-text-fill-color: $white;
}
h2 {
  margin: 0;
}
.skills .title span{
  position: absolute;
  top: -5%;
  left: -70%;
  transform: translateX(25%);
  font-weight: 800;
  opacity: 0.2;
  font-size: 8rem;
  color: $accent;
  -webkit-text-fill-color: $accent;
}
.skill:after {
  border-bottom: 2px solid $accent;
  color: $accent;
}
.portfolio .title span{
  position: absolute;
  top: -5%;
  left: -50%;
  transform: translateX(25%);
  font-weight: 800;
  opacity: 0.1;
  font-size: 8rem;
  color: $white;
  -webkit-text-fill-color: $white;
}
.skewed-bg {
  background-color: $background;
  transform: skew(0deg, -10deg);
  z-index: -10;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1025px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 963px) {
  .wrapper {
    width: 95%;
  }
  .title span, .portfolio .title span, .skills .title span{
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
  }
}
