.skills {
  z-index: 1;
  padding-bottom: 30px;
  
  .wrapper {
    text-align: right;
    padding-top: 30px;
    h2 {
      margin: 0;
    }
    h2:after {
      color: #333333;
    }
    .skill-set {
      margin-top: 50px;
      text-align: center;
      display: block;
      figure {
        margin-left: 5rem;
        display: inline-block;
        i {
          font-size: 100px;
        }
        figcaption {
          margin: 10px;
          letter-spacing: 1px;
          font-size: 18px;
          color: #303030;
        }
      }
    }
  }
}
@media (max-width: 1130px) {
  .skills {
    .wrapper {
      .skill-set {
        figure {
          margin-left: 3rem;
          i {
            font-size: 65px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .skills {
    .wrapper {
      .skill-set {
        figure {
          width: 25%;
          margin-left: 10px;
          i {
            font-size: 45px;
          }
        }
      }
      .skill-set:nth-child(3) {
        margin-top: 0;
      }
    }
  }
}
