$primary: #d6ba8d;
$accent: #333;
$background: #272727;
$secondBackground: #303030;
$white: #ffffff;
$darkerWhite: #f3f3f3;
$textColor: #b7b7b7;
$linearGradient: linear-gradient(to right, #d6ba8d, #ae8658);
