.about {
  color: #b7b7b7;
  background-color: #272727;
  padding: 50px 0;
  height: 60vh;
  .content {
    width: 90%;
  }
  p {
    line-height: 3rem;
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@media (max-width: 963px) {
  .about {
    .content {
      p {
        line-height: 2.5rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .about {
    height: 70vh;

    .content {
      width: 100%;
      p {
        padding: 0 5px;
        line-height: 2.2rem;
        font-size: 14px;
      }
    }
  }
}
