.contact {
  padding-top: 30px;
  text-align: center;
  background: #272727;
  color: #b7b7b7;
  p i {
    margin-right: 15px;
    color: #d6ba8d;
  }

  p {
    display: block;
    padding-bottom: 10px;
    margin: 00;
  }
  .email {
    color: #fff;
    font-size: 22px;
    letter-spacing: 2px;
  }

  .contact-details {
    margin: 50px 0;
    i {
      color: #d6ba8d;
      margin-right: 2rem;
      font-size: 1.5rem;
    }
  }
  i:hover {
    transition: 0.33s ease-in-out;
    color: #f3f3f3;
  }
}
