body {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  display: inline-block;
  font-size: 3rem;
  letter-spacing: 5px;
  background: linear-gradient(to right, #d6ba8d, #ae8658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  position: relative;
  clip: auto;
  text-transform: uppercase;
}
.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1025px) {
  .wrapper {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 95%;
  }
}
